.btn1 {
  color: white;
  background-color: transparent;
  border: 0px;
}
.one1231 {
  border: 5px solid #fec653;
  border-top: none;
  border-left: none;
  border-right: none;
}
.li1 {
  display: flex;
  flex-direction: row;
}
